<group ns="rover">
                <node name="f9p" pkg="ublox" type="ublox_ros">
                        <param name="serial_port" value="/dev/ttyACM1"/>
                        <param name="rtk_type" value="2"/>
                        <param name="local_host" value="localhost"/>
                        <param name="local_port" value="16145"/>
                        <param name="remote_host" value="localhost"/>
                        <param name="remote_port" value="16140"/>
                        <param name="log_filename" value="../data/stationary-base-rover/rover_binary"/>
                </node>
                <node pkg="rosbag" type="record" name="record" output="screen" args="-O ../data/stationary-base-rover/rover.bag --all"/>
        </group>
</launch>

