<launch>

	<group ns="base">
		<node name="f9p" pkg="ublox" type="ublox_ros">
			<param name="serial_port" value="/dev/ttyACM0"/>
			<param name="rtk_type" value="3"/>
<!-- 			<param name="local_host" value="localhost"/>
			<param name="local_port" value="16140"/>
			<param name="remote_host" value="localhost"/>
			<param name="remote_port" value="16145"/> -->
 			<param name="local_host" value="192.168.0.111"/>
			<param name="local_port" value="16140"/>
			<param name="remote_host" value="192.168.0.87"/>
			<param name="remote_port" value="12345"/>
<!-- 			<param name="log_filename" value="../data/redo_rod/one/base_binary"/> -->
		</node> 
		<node pkg="rosbag" type="record" name="record" output="screen" args="-O ../data/clean_test/0816_mob01.bag --all"/>
	</group>
</launch>